{% extends 'base.html' %}

{% block page_title %}Sticker Admin{% endblock %}

{% block page_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'end.css' %}">
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <div id="id_message">
        <table>
		<tr>
			<th>Game ID</th>
			<th>Game position</th>
			<th>Current player on turn</th>
		</tr>
		{% for game_information in all_games_data %}
			<tr>
				<th>{{ game_information.game_id }}</th>
				<th>{{ game_information.game_position }}</th>
				<th>{{ game_information.player_on_turn }}</th>
			</tr>
		{% endfor %}
	</table>
	<a href="/">Return</a>
    </div>
{% endblock %}

