{% extends 'base.html' %}

{% block page_title %}Game Over{% endblock %}

{% block page_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'end.css' %}">
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <div id="id_message">
        <h1>Game Over</h1>
{% if winner %}
        <p><strong>{{ winner }}, you won the game!</strong></p>
{% endif %}
{% if tie %}
        <p><strong>{{ tie }}</strong></p>
{% endif %}
        <a href="/">Play New Game</a>
    </div>
{% endblock %}
