{% extends 'base.html' %}

{% block page_title %}Sticker{% endblock %}

{% block page_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'game.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <br>
    <div class="container"></div>
        <h1>Sticker</h1>
    </div>
    <br>
    <h3 id="id_player" class="player_shower">{{ current_player }}</h3>
    <div>
        <br>
        <form id="id_form" action="{% url 'make_a_move' game_id %}" method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <br>
            <input id="id_submit_button" type="submit" value="Submit">
        </form>
        <br>
        <br>
	<a id="id_instructions_link" href="#">Show instructions</a>
    <div id="id_game_rules" style="visibility: hidden">
        <br>
		<ol>
		<li>The player who picks up the last card loses</li>
		<li>Player must pick up at least one card each turn</li>
		<li>When picking multiple cards, they must come from the same row</li>
		</ol>
	</div>
    </div>
    <audio id="move_sound">
	<source src="{% static 'move_sound.mp3' %}" type="audio/mpeg">
    </audio>
    <script src="{% static 'app.js' %}"></script>
    <script>
	// Update color based on a player
        var playerName = document.getElementById('id_player');
	var gameBoard = document.getElementById('id_form');

	function changeAllCardsTo (color) {
		console.log('Change all cards to '+ color);
		var allCards = gameBoard.getElementsByTagName('label');
                for (var index = 0; index < allCards.length; index++) {
			allCards[index].style.background = color;
                }
	}


        if ({{player_number}} == 1) {
		console.log('This is player1\'s turn!');
		playerName.style.color = 'Red';
		gameBoard.style.color = 'Red';
		changeAllCardsTo = 'Red';
	} else {
		console.log('This is player2\'s turn!');
		playerName.style.color = 'Blue';
		gameBoard.style.color = 'Blue';
		changeAllCardsTo = 'Blue';
	}
    </script>
    <script>
	// Get audio sound
	var audio = document.getElementById('move_sound')

	// Do AJAX to keep game fresh
	setInterval(updateDOMIfNeeded, 500);

	function countCardsInDOM() {
		let allCards = document.getElementsByTagName('label');
		let numberOfCards = allCards.length;
		return numberOfCards;
	}

	function countCardsInString(formString) {
		var count = (formString.match(/id="id_row/g) || []).length;
		return count
	}

	function blinkPageTitle(playerName) {
	
	}

	function blinkTitleUntillPageIsClicked() {
		var interval = setInterval(function(){
			if (document.hidden) {
				var pageTitle = document.title;
				document.title = (pageTitle == 'It is your turn') ? 'Sticker' : 'It is your turn';
			} else {
				clearInterval(interval);
				document.title = 'Sticker';
			}
		}, 1000);
	}

	function updateDOMIfNeeded(){
		// AJAX documentation: https://api.jquery.com/jquery.ajax/
		$.ajax({
			synch: 'true',
			type: 'GET',
			url: '{% url 'view_round' game_id %}',
			dataType: 'html',
			success: function(data){
				if (data.indexOf("ajax") == -1) {
					console.log('This is not game.html anymore!');
					location.reload();
				} else {
					var updatedForm = data.slice(data.indexOf('<input type="hidden" name="csrfmiddlewaretoken"'), data.indexOf('</form>'));
					var updatedPlayer = data.slice(data.indexOf('class="player_shower"') + 22, data.indexOf('</h3>'));
					var realNumberOfCards = countCardsInString(updatedForm);
					var numberOfCardsInDOM = countCardsInDOM();
					if (realNumberOfCards == numberOfCardsInDOM) {
					} else {
						$('#id_form').html(updatedForm);
						$('#id_player').html(updatedPlayer);
						breakSpaceTheCards();
						audio.play();
						blinkTitleUntillPageIsClicked();
					}
				}
			},
			error: function (xhr, textStatus, errorThrown) {
					console.log('sumthin\'s wrong');
				}
		});
	}
    </script>
    <script>
        // Add breakspaces
        window.onload = breakSpaceTheCards();
		function breakSpaceTheCards () {
            let allCards = document.getElementsByTagName('label');
            let form = document.getElementById('id_form');

            for (var index = 0; index < allCards.length; index++) {
                if (allCards[index].htmlFor.endsWith('0')) {
                    form.insertBefore(document.createElement('br'), allCards[index].parentElement);
                }
            };
        }
    </script>
{% endblock %}
