{% extends 'base.html' %}

{% block page_title %}Sticker{% endblock %}

{% block page_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <br>
    <div class="container"></div>
        <h1>Sticker</h1>
    </div>
    <br>
    <h3 id="id_player" class="player_shower">{{ current_player }}</h3>
    <div>
        <br>
        <form id="id_form" action="{% url 'make_a_move' game_id %}" method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <br>
            <input id="id_submit_button" type="submit" value="Submit">
        </form>
        <br>
        <br>
	<a id="id_instructions_link" href="#">Show instructions</a>
    <div id="id_game_rules" style="visibility: hidden">
        <br>
	There are 2 players. <br>
	Eash player picks up one or more cards on each turn. <br>
	Picked up cards must all come from the same row. <br>
	The player who picks up the last card, loses. <br>
	</div>
    </div>
    <script src="{% static 'app.js' %}"></script>
    <script>
	// Do AJAX to keep game fresh
	setInterval(updateDOMIfNeeded, 500);

	function countCardsInDOM() {
		let allCards = document.getElementsByTagName('label');
		let numberOfCards = allCards.length;
		return numberOfCards;
	}

	function countCardsInString(formString) {
		var count = (formString.match(/id="id_row/g) || []).length;
		return count
	}

	function updateDOMIfNeeded(){
		$.ajax({
			synch: 'true',
			type: 'GET',
			url: '{% url 'view_game' game_id %}',
			dataType: 'html',
			success: function(data){
				var updatedForm = data.slice(data.indexOf('<input type="hidden" name="csrfmiddlewaretoken"'), data.indexOf('</form>'));
				var updatedPlayer = data.slice(data.indexOf('class="player_shower"') + 22, data.indexOf('</h3>'));
				var realNumberOfCards = countCardsInString(updatedForm);
				var numberOfCardsInDOM = countCardsInDOM();
				if (realNumberOfCards == numberOfCardsInDOM) {
				} else {
					$('#id_form').html(updatedForm);
					$('#id_player').html(updatedPlayer);
					breakSpaceTheCards();
				}	
			}
		});
	}
    </script>
    <script>
        // Add breakspaces
        window.onload = breakSpaceTheCards();
		function breakSpaceTheCards () {
            let allCards = document.getElementsByTagName('label');
            let form = document.getElementById('id_form');

            for (var index = 0; index < allCards.length; index++) {
                if (allCards[index].htmlFor.endsWith('0')) {
                    form.insertBefore(document.createElement('br'), allCards[index].parentElement);
                }
            };
        }
    </script>
{% endblock %}
