{% extends 'base.html' %}

{% block page_title %}Sticker - Home{% endblock %}

{% block page_head %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block body %}
	<h1>Sticker Game</h1>
    <div id="id_message">
		<h2>Create a game and invite your friend:</h2>
		<form method="POST" action="{% url 'new_game' %}">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Start New Game" id="id_submit_button">
		</form>
    </div>
	<script>
		// A prototype that adds insertAfter function to Element prototype
		Element.prototype.insertAfter = function(newOne) {
			this.parentNode.insertBefore(newOne, this.nextSibling);
		}

		document.onload = addBreakSpacesToForm();

		function addBreakSpacesToForm () {
			var allInputElements = document.getElementsByTagName('input');
			var allSelectElements = document.getElementsByTagName('select');
			for (index = 0; index < allSelectElements.length; index++) {
				var currentSelectElement = allSelectElements[index];
				var lineBreakElement = document.createElement('BR');
				currentSelectElement.insertAfter(lineBreakElement);
			}
			for (index = 0; index < allInputElements.length; index++) {
				var currentInputElement = allInputElements[index];
				var lineBreakElement = document.createElement('BR');
				currentInputElement.insertAfter(lineBreakElement);
			}
		}
	</script>
{% endblock %}
