{% extends 'base.html' %}

{% block page_title %}Sticker - Home{% endblock %}

{% block page_head %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block body %}
	<h1>Sticker</h1>
    <img src="{% static 'LolekIBolekDemo2.gif' %}"
	 alt="GIF, gameplay example">
	<p>Instructions inside...</p>
<br>
<br>
<br>
	<h2>Create a Game and Invite Your Opponent</h2>
    <div id="id_how_to_invite_a_friend">
	<h3>How To Invite your Friend</h3>
	<p>After you create the game, <strong>Copy the URL</strong> and send it to your friend.</p>
    </div>
    <div id="id_message">
		<h3>Create a game:</h3>
		<form method="POST" action="{% url 'new_game' %}">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Start New Game" id="id_submit_button">
		</form>
    </div>
<br>
<br>
<br>
	<h2>Play Versus the Mashine</h2>
    <div id="id_message">
		<h3>Create a game:</h3>
		<form method="POST" action="{% url 'new_mashine_game' %}">
			{% csrf_token %}
			{{ machine_form }}
			<input type="submit" value="Start New Game Vs Mashine" id="id_submit_mashine_button">
		</form>
    </div>
<br>
<br>
    <div id="id_instructions">
	<p>Detailed instructions are very short. You can read them anytime during the game.<br>
	This game is <strong>very simple</strong>. It is expected that you will play it only once.</p> 
	<script>
		// A prototype that adds insertAfter function to Element prototype
		Element.prototype.insertAfter = function(newOne) {
			this.parentNode.insertBefore(newOne, this.nextSibling);
		}

		document.onload = addBreakSpacesToForm();

		function addBreakSpacesToForm () {
			var allInputElements = document.getElementsByTagName('input');
			var allSelectElements = document.getElementsByTagName('select');
			for (index = 0; index < allSelectElements.length; index++) {
				var currentSelectElement = allSelectElements[index];
				var lineBreakElement = document.createElement('BR');
				currentSelectElement.insertAfter(lineBreakElement);
			}
			for (index = 0; index < allInputElements.length; index++) {
				var currentInputElement = allInputElements[index];
				var lineBreakElement = document.createElement('BR');
				currentInputElement.insertAfter(lineBreakElement);
			}
		}
	</script>
{% endblock %}
