/* CUSTOM CHECKBOXES */

/* Make divs inline */
.custom-checkbox-input {
    display: inline;
    font-size: 32px;
}

/* Hide default checkbox */
input[type=checkbox] {
    display: none;
}

/* Set the size of a new checkbox */
.checkbox {
    line-height: 20px;
}

label {
    cursor: pointer;
}

/* Styling of the checkbox before its clicked */
label:before {
    display: inline-block;
    width: 34px;
    margin-right: 5px;
    content: 'S';
    text-align: center;
    background: #000;
    margin-bottom: 5px;
}

label:hover::before{
    background: #ccc;
    color: #ccc;
}

/* On Check */
input:checked ~ label::before {
    background: #ccc;
    color: #ccc;
}


/* FORM STYLING */
form {
    text-align: center;
}

.custom-checkbox-input > *::selection {
    background: #FFF;
}


.custom-checkbox-input > *::-moz-selection {
    background: #FFF;
}

/* errors */
.errorlist {
    list-style: none;
}

/* CENTERING */
h1, h3 {
    text-align: center;
}

#id_instructions_link {
    display: block;
}

#id_instructions_link, #id_game_rules {
    text-align: center;
}

